<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>阅读列表</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="退出登录"/>
</form>

<h2><span th:text="${reader.fullname}">Name</span>的阅读列表</h2>
<div th:unless="${#lists.isEmpty(books)}">
    <dl th:each="book : ${books}">
        <dt class="bookHeadline">
            <a th:href="'http://www.amazon.com/gp/product/'
                      + ${book.isbn} + '/tag=' + ${amazonID}"
               th:text="${book.title}">Title</a>
            <span th:text="${book.author}">Author</span>
            （ISBN: <span th:text="${book.isbn}"></span>）
        </dt>
        <dd class="bookDescription">
            <span th:if="${book.description}" th:text="${book.description}">Description</span>
            <span th:if="${book.description eq null}">No description available</span>
        </dd>
    </dl>
</div>

<div th:if="${#lists.isEmpty(books)}">
    <p>你的阅读列表中没有书</p>
</div>

<hr/>

<h3>添加书籍</h3>
<form method="post" th:action="@{/}">
    <label for="title">书名：</label>
    <input type="text" name="title" size="50"/><br/>
    <label for="author">作者：</label>
    <input type="text" name="author" size="50"></input><br/>
    <label for="isbn">书号（ISBN）:</label>
    <input type="text" name="isbn" size="15"></input><br/>
    <label for="description">描述信息：</label><br/>
    <textarea name="description" cols="80" rows="5"></textarea><br/>
    <input type="submit"/>
</form>

</body>
</html>